* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #020b2d;
  color: #f3f6ff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}